.main__article--first{
    padding-top: 30px;
    
}
.article_span, .article__title--first, .article__title--second{
    @include textTransform(capitalize);
}

.article_span{
    font-size: rem(14);
    font-family: $font-roboto;
    color: $color-light-blue;
}

.article__title--first{
    margin-top: 0px;
    margin-bottom: 15px;
    @include font($font-roboto-slab, 30px, bold);
    font-size: rem(24);
    color: $color-black;
    @include tablet{
		margin-bottom: 30px;
    } 
}

.article__paragraph{
    margin-bottom: 30px;
    @include font($font-roboto, 30px, normal);
    font-size: rem(18);
    color: $color-greyish-brown;
    &::first-letter{
        @include textTransform(capitalize);
    }
}

.article__bnt-border{
    width: 76px;
    height: 45px;
    margin-bottom: 30px;
    border: 2px solid $color-bright-orange;
    border-radius: 22.5px;
    background-color: $color-white;
    @include textTransform(capitalize);
    text-align: center;
    @include font($font-roboto, 45px, 500);
    font-size: rem(20);
    color: $color-bright-orange;
    transition: transform 2s;
    &:hover{
        color: $color-white;
        background-color: $color-bright-orange;
        transform: rotate(180deg);
    }
    @include tablet{
        margin-bottom: 60px;
        width: 160px;
    } 
}

//articulo segundo
.main__article--second{
    background-color: $color-ice-blue;
    text-align: center;
    padding-bottom: 60px;
}

.article__title--second{
    margin: 0px;
    padding-top: 30px;
    @include font($font-roboto-slab, 30px, bold);
    font-size: rem(24);
    color: $color-black;
}

.main__article--list{
    color: $color-black;
    font-size: rem(18);
    li{
        margin-top: 45px;
        &:last-child{
            margin-bottom: 38px;
        }
    }
    li>h3{
        margin: 0px;
        @include font ($font-roboto-slab, 30px, bold);
    }
    li>p{
        margin: 0px;
        @include font ($font-roboto, 30px, normal);
    }
    @include tablet{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        li>h3{
            margin-bottom: 14px;
            @include font ($font-roboto-slab, 30px, bold);
        }
    }
}

.article__bnt-filling{
    width: 148px;
    height: 48px;
    border-radius: 22.5px;
    margin: auto;
    background-color: $color-bright-orange;
    @include font ($font-roboto, 45px, 500);
    color: $color-white;
    font-size: rem(20);
    transition: width 2s, height 2s, transform 2s;
    &:hover{
        color: $color-bright-orange;
        background-color: $color-white;
        border: 2px solid $color-bright-orange;
        transform: rotateY(130deg);
    }
    span{
        @include textTransform(capitalize);
    }
    
}