<footer class="page__footer">
    <div class="container">
        <a href="#hero">
            <div class="footer__btn--up"></div>
        </a>
        <nav class="footer__menu">
            <ul class="footer__menu--list--secctions">
                <li><a href="#articles">articles</a></li>
                <li><a href="#books">books</a></li>
                <li><a href="#events">events</a></li>
                <li><a href="#reasons">reasons</a></li>
                <li><a href="#tips">tips</a></li>
            </ul>
            <ul class="footer__menu--list--social">
                <li><a href="https://twitter.com">twitter</a></li>
                <li><a href="https://www.instagram.com/?hl=es">instagram</a></li>
                <li><a href="https://mastodon.social">mastodon.social</a></li>
            </ul>
            <ul class="footer__menu--list--copyright">
                <li>©2019</li>
                <li>we <span class="heart-color">❤</span> components</li>
            </ul>
        </nav>
    </div>
</footer>