<footer class="page__footer">
    <div class="container">
        <a href="#hero">
            <div class="footer__btn--up"></div>
        </a>
        <nav class="footer__menu">
            <ul class="footer__menu--list--secctions">
                <li><a href="#">articles</a></li>
                <li><a href="#">books</a></li>
                <li><a href="#">events</a></li>
                <li><a href="#">reasons</a></li>
                <li><a href="#">tips</a></li>
            </ul>
            <ul class="footer__menu--list--social">
                <li><a href="#">twitter</a></li>
                <li><a href="#">instagram</a></li>
                <li><a href="#">mastodon.social</a></li>
            </ul>
            <ul class="footer__menu--list--copyright">
                <li>©2019</li>
                <li>we <span class="heart-color">❤</span> components</li>
            </ul>
        </nav>
    </div>
</footer>