<footer class="page__footer">
    <div class="footer__btn--up"></div>
    <nav class="footer__menu">
        <ul class="footer__menu--list--secctions">
            <li><a href="#">articles</a></li>
            <li><a href="#">books</a></li>
            <li><a href="#">events</a></li>
            <li><a href="#">reasons</a></li>
            <li><a href="#">tips</a></li>
        </ul>
        <ul class="footer__menu--list--social">
            <li><a href="#">twitter</a></li>
            <li><a href="#">instagram</a></li>
            <li><a href="#">mastodon.social</a></li>
        </ul>
        <ul class="footer__menu--list--copyright">
            <li><a href="#">©</a></li>
            <li><a href="#">we <span class="heart-color">❤</span> components</a></li>
        </ul>
    </nav>
</footer>