<header id="hero" class="page__header">
    <section class="header__text">
        <div class="container">
            <nav class="header__nav">
                <!--contenedor de la imagen del menu hamburgesa-->
            </nav>
            <h1 class="header__title">
                <span>anonymous</span>
                <span>proxy</span>
            </h1>
            <p class="header__paragraph">in hac habitasse platea dictumst.</p>
            <a href="#purchase">
                <div class="header__btn--down"></div>
            </a>
        </div>
    </section>
</header>