<main class="page__main">
    <div class="">
        <article class=" container main__article--first">
            <span class="article_span">insomnia tips</span>
            <h2 class="main__title">loking through a window</h2>
            <p class="main__paragraph">
                Donec accumsan, nulla ut voluptat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. vivamus
                semper sodales rutrum.
            </p>
            <div class="bnt-border"><a  href="#" rel="go">go</a></div>
            
        </article>
        <article class="container main__article--second" id="purchase">
            <h2>3 reasons to purchase</h2>
            <ul class="main__article--list">
                <li>
                    <h3>Ut sed metus</h3>
                    <p>Lorem ipsum dolor sit</p>
                    <p>amet consectetur.</p>
                </li>
                <li>
                    <h3>Carabitur ac erat</h3>
                    <p>Mauris mattis urna</p>
                    <p>quis lorem molestie.</p>
                </li>
                <li>
                    <h3>Morbi dictum</h3>
                    <p>Aliquam in dolor et</p>
                    <p>dolor tincidunt</p>
                </li>
            </ul>
            <div class="bnt-filling">
                <a href="#" rel="more reasons"><span>more</span> reasons</a>
            </div>
        </article>
    </div>
</main>