<main class="page__main">
    <article>
        <p>insomnia tips</p>
        <h2>loking through a window</h2>
        <p>
            Donec accumsan, nulla ut voluptat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. vivamus
            semper sodales rutrum.
        </p>
        <a href="#" rel="go">go</a>
    </article>
    <article id="purchase">
        <h2>3 reasons to purchase</h2>
        <ul class="main__article--list">
            <li>
                <h3>Ut sed metus</h3>
                <span>Lorem ipsum dolor sit</span>
                <span>amet consectetur.</span>
            </li>
            <li>
                <h3>Carabitur ac erat</h3>
                <span>Mauris mattis urna</span>
                <span>quis lorem molestie.</span>
            </li>
            <li>
                <h3>Morbi dictum</h3>
                <span>Aliquam in dolor et</span>
                <span>dolor tincidunt</span>
            </li>
        </ul>
        <a href="#" rel="more reasons">more reasons</a>
    </article>
</main>