<!DOCTYPE html>
<html lang="es">

<head>
  <title>Anonymous proxy</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="./favicon.ico" />
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
    <partial src="_footer.html" label="Footer"></partial>
  </div>
</body>

</html>