
.footer__btn--up{
    border-radius: 50px;
	height: 45px;
	margin: auto;
	width: 45px;
	transform: translateY(-21px);
	background: url('../images/ico-arrow.svg') center center no-repeat $color-white;
	&:hover{
	animation: bonus 5s ease 2;
	}

}

@keyframes bonus {
	0%   {transform: translateY(-21px);};
	25%   {transform: translateY(-55px);};
	50%  {transform: translateY(10px);}
	100% {transform: translateY(-21px);}
}

.heart-color{
	color: $color-bright-orange;
}

.page__footer{
	border: 1px solid #fabada;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: $color-white;
	font-size: rem(16);
	line-height: 30px;
	background-color: $color-dark-grey-blue;
	 a{
		color: $color-white;
		@include textTransform(uppercase);
	 }
}

.footer__menu{
	margin-top: 15px;
	padding-bottom: 45px;
	@include tablet{
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: space-between;
		
    } 
    @include desktop{
        
    } 
}

.footer__menu--list--social{
	margin-top: 30px;
	@include tablet{
		margin-top: 15px;
		order:3;
    } 
}

.footer__menu--list--copyright{
	margin-top: 30px;
	@include tablet{
		margin-top: 15px;
		order:1;
    } 
}
.footer__menu--list--secctions{
	@include tablet{
		padding-bottom: 45px;
		order:2;
    } 
}
