//img fondo - hero//
.page__header {
	background: url('../images/cover.jpg') center no-repeat $color-white;
	background-size:cover;
	height: 100vh;
	color: $color-white;
}

//img menu//
.header__nav{
	background: url('../images/ico-menu.svg') center center no-repeat $color-cerulean;
	height: 44px;
	width: 44px;
	position: fixed;
	top:0px;
	left: 0px;
	z-index: 1;
}

//contenedor texto//
.header__text{
	height: 100%;
	@include flexColumn(flex-end);
}

.header__title{
	@include flexColumn(center);
	@include font($font-roboto-slab, 55px, bold);
	@include textTransform(uppercase);
	font-size: rem(42);
	@include tablet{
		font-size: rem(80);
		line-height: 106px;
    } 
    @include desktop{
        font-size: rem(100);
		line-height: 132px;
    } 

}

.header__paragraph{
	font-size: rem(16);
	font-family: $font-roboto;
	text-align: center;
	&::first-letter{
		@include textTransform(capitalize);
	}
	@include tablet{
		font-size: rem(24);
    }
}

.header__btn--down{ 
	@include bnt();
	margin: auto;
	background: url('../images/ico-scroll-down.svg') center center no-repeat $color-white;
	margin-top: 45px;
	margin-bottom: 53px;
}

