$color-black:#000;
$color-white: #fff;
$color-bright-orange: #f26002;
$color-cerulean:#0271bc;
$color-greyish-brown:#4a4a4a;
$color-ice-blue:#eff9ff;
$color-dark-grey-blue:#304268;
$color-light-blue:#8ccbea;

//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');
$font-roboto-slab: 'Roboto Slab', serif;
$font-roboto: 'Roboto', sans-serif;
